# History files
.Rhistory
.Rapp.history

# Session Data files
.RData
.RDataTmp

# User-specific files
.Ruserdata

# Example: generate with `R CMD build --no-build-vignettes`
*.tar.gz

# macOS system files
.DS_Store
.AppleDouble
.LSOverride
._*
.Spotlight-V100
.Trashes

# RStudio files
.Rproj.user/
Rplots.pdf
